body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
        /* position: relative; */
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url('kloc.png');
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    color: darkslategrey;
    z-index: 2;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    color: darkslategrey;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    opacity: 0.4;
    z-index: 2;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.login-container button:hover {
    background-color: darkslategrey;
}
.links{
    display: flex;
    justify-content: space-between;
}
a{
    color: darkolivegreen;
    opacity: 1;
    font-weight: bold;
    position: relative;
    z-index: 2;
    text-decoration: none;

    
}